@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #173A27;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*Acumin Pro Wide Bold*/
.acumin-wide {
font-family: acumin-pro-wide, sans-serif;
font-weight: 400;
font-style: normal;
}
/*Acumin Pro Bold*/
p {
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
}

/*WTR Fatboy Display*/
.title, h1 {
  font-family: fatboy, serif;
  font-weight: 400;
  font-style: normal;
}
/*Acumin Pro Bold Italic*/
.acumin-b-i {
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;
}
/*Acumin Pro Italic*/
.acumin-i {
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: italic;
}
/*Acumin Pro Regular*/
.acumin {
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
}

.content-box {
  position: absolute;
  z-index: 0;
  top: 5em;
}

.img {
  position: absolute;
  z-index: 1;
}

.content {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 8em;
}
.first-name {
  color: #9abda9;
}

.last-name-part1 {
  color: #f2a921;
}

.last-name-part2 {
  color: #e6790a;
}

.body-color {
  color: #fff;
  letter-spacing: 2px;
}

.envelopeColor {
  color:#ba9d23;
}

.contact {
  height: 32px;
  width: 32px;
}
/*Colors*/
/* Color Theme Swatches in Hex */
.STANLEY---FREE-ELEGANT-DISPLAY-TYPEFACE-1-hex { color: #01402E; }
.STANLEY---FREE-ELEGANT-DISPLAY-TYPEFACE-2-hex { color: #014023; }
.STANLEY---FREE-ELEGANT-DISPLAY-TYPEFACE-3-hex { color: #F2E529; }
.STANLEY---FREE-ELEGANT-DISPLAY-TYPEFACE-4-hex { color: #F2A922; }
.STANLEY---FREE-ELEGANT-DISPLAY-TYPEFACE-5-hex { color: #D97904; }


@media only screen and (min-width: 25em) {
  .content {
    padding-top: 12em;
  }

  .body-color {
    letter-spacing: 7px;
  }

  .content-box {
    top: 5em;
  }

  .contact {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 38em) {
  .content {
    padding-top: 15em;
  }

  .body-color {
    letter-spacing: 10px;
  }

  .contact {
    height: 48px;
    width: 48px;
  }
}

@media only screen and (min-width: 42em) {
  .content {
    padding-top: 15em;
  }

  .body-color {
    letter-spacing: 10px;
  }
}

@media only screen and (min-width: 60em) {
  .content {
    padding-top: 20em;
  }
}
